﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Teodors Lisovenko<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +371 26085951
</address>

