﻿
@model IEnumerable<StoreWebsite.Models.ShopItemModel>
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/slick/css")

</head>

<body>

    @{
        ViewBag.Title = "Home Page";
    }

    <div class="carousel">

        @foreach (var item in Model.Reverse().Take(5))
        {
            <a href="ShopItem/Details/@item.Reference">
                <img src="@item.ImageURL" width="180" height="180" />
            </a>
        }

    </div>
</body>

<div class="row">
    <div class="col-md-6 text-center">
        <h2><a class="dropdown-item" href="/Find-by-category/casual">Casual</a></h2>
        <img src="~/Image/Contents/casual2.jpg" width="140" height="140" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
    </div>
    <div class="col-md-6 text-center">
        <h2><a class="dropdown-item" href="/Find-by-category/Evening">Evening</a></h2>
        <img src="~/Image/Contents/Evening3.jpg" width="140" height="140" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-center">
        <h2><a class="dropdown-item" href="/Find-by-categorys/Accessories">Accessories</a></h2>
        <img src="~/Image/Contents/accessories3.jpg" width="140" height="140" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
    </div>
    <div class="col-md-6 text-center">
        <h2><a class="dropdown-item" href="/Find-by-category/Sale">Sale</a></h2>
        <img src="~/Image/Contents/sale3.jpg" width="140" height="140" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/slick")

<script type="text/javascript">

    $('.carousel').slick({
        centerMode: true,
        centerPadding: '20px',
        slidesToShow: 4,
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    arrows: false,
                    centerMode: true,
                    slidesToShow: 3
                }
            },
            {
                breakpoint: 480,
                settings: {
                    arrows: false,
                    centerMode: true,
                    slidesToShow: 1
                }
            }
        ]
    });

</script>
</html>