﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/slick/css")

    @RenderSection("head", required: false)

    <style type="text/css">
        body {
            background-image: url('/Image/swirl_pattern.png');
            margin: 0;
        }

        .slick-prev::before,
        .slick-next::before {
            color: black !important;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand">
            <img style="display: block;" id="img_logo" alt="Logo" src="@Url.Content("~/Image/logo.png")" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ">

                <li class="nav-item">

                    <a class="nav-link" href="/Home">Home <span class="sr-only"></span></a>

                </li>

                <li class="nav-item">

                    <a class="nav-link" href="/Home/Contact">Contact <span class="sr-only"></span></a>

                </li>

                <li>
                    <a class="nav-link" href="/Find-by-category/casual">Casual</a>

                </li>

                <li>
                    <a class="nav-link" href="/Find-by-category/evening">Evening</a>

                 </li>
                <li>

                    <a class="nav-link" href="/Find-by-category/Accessories">Accesories</a>

                 </li>
                <li>
                    <a class="nav-link" href="/Find-by-category/Sale">Sale</a>
                <li>

                </li>
            </ul>

            @Html.Partial("_LoginPartial")

            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
            <ul class="nav navbar-nav navbar-right">
                &nbsp
                <li> <a class="nav-link" href="/Account/RegisterShopkeep">Register ShopK.</a></li>
                <li> <a class="nav-link" href="/shopitem">ShopItems</a></li>

                <li> <a class="nav-link" href="/category">Categ.</a></li>

                <li> <a class="nav-link" href="/shopkeeper">ShopK.</a></li>
                <li> <a class="nav-link" href="/shopkeeper">ShopK.</a></li>
                <li> <a class="nav-link" href="VideoManagement">Upload</a></li>
            </ul>
                }
            }
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Teodors Lisovenko</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/slick")

    @RenderSection("Scripts", required: false)

    @section scripts {
    }

</body>

</html>


