﻿@model StoreWebsite.Models.ShopItemModel

@{

                ViewBag.Title = "Details";
}

<h2> @Html.DisplayFor(model => model.ItemName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
                
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.ActionLink(Model.Category.CategoryName, "Search", new { CategoryName = Model.Category.CategoryName })
        </dd>


        <dt>
            Store
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shopkeeper.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
