﻿@{
    ViewBag.Title = "Partial_Detail";
}

@model StoreWebsite.Models.ShopItemModel

<div class="col-md-4">
    <img src="@Model.ImageURL" style="width:200px; height:200px" />
    <div class="border">
        <h1>@Model.ItemName</h1>
        <h2><em>@Model.Price</em></h2>
        <h3> @Html.ActionLink("Select this Item", "Details", new { id = Model.Reference })</h3>
</div>
</div>