﻿
@{
    ViewBag.Title = "Search";
}

@using PagedList;
@using PagedList.Mvc;
@model IPagedList<StoreWebsite.Models.ShopItemModel>



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            @(Html.Partial("Partial_Detail", item))
        }
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("Search", new { page }))
